<!DOCTYPE html>
<html>
  <body>

    <h2>{{ today }}</h2>

    <h2>Weather Forecasts</h2>

    {% if weather is none %}
      <p>Data are currently unavailable.</p>
    {% else %}
      <p>{{ weather['location'] }}</p>

      {% for w in weather['forecasts'] %}
        <p>
          <b>{{ w['name'] }}</b>: {{ w['detailedForecast'] }}
        </p>
      {% endfor %}
    {% endif %}

    <h2>Calendar Events</h2>

    {% if events is none %}
      <p>Data are currently unavailable.</p>
    {% else %}
      {% if events %}
        {% for e in events %}
          <p>
            {{ e['start'] }}<br />
            (till {{ e['end'] }})<br />
            <b>{{ e['summary'] }}</b>
          </p>
        {% endfor %}
      {% else %}
        <p>No event to show</p>
      {% endif %}
    {% endif %}

    <h2>News Headlines</h2>

    {% if news is none %}
      <p>Data are currently unavailable.</p>
    {% else %}
      {% for title, url in news %}
        <p><a href="{{ url }}">{{ title }}</a></p>
      {% endfor %}
    {% endif %}

    <p>Powered by <a href="https://newsapi.org">NewsAPI.org</a></p>

  </body>
</html>
