<!DOCTYPE html>
<html>
  <body>

    <h2>{{ today }}</h2>

    <h2>News Headlines</h2>

    {% for title, url in news %}
    <p><a href="{{ url }}">{{ title }}</a></p>
    {% endfor %}

    <p>Powered by <a href="https://newsapi.org">NewsAPI.org</a></p>

    <h2>Calendar Events</h2>

    {% if events %}
    {% for e in events %}
    <p>
      {{ e['start'] }}<br />
      (till {{ e['end'] }})<br />
      {{ e['summary'] }}
    </p>
    {% endfor %}
    {% else %}
    <li>No event to show</li>
    {% endif %}

  </body>
</html>
